<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="7815eeb0caaa44dfa54a506f9a2b7ad7" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7815eeb0caaa44dfa54a506f9a2b7ad7 = echarts.init(
            document.getElementById('7815eeb0caaa44dfa54a506f9a2b7ad7'), 'white', {renderer: 'canvas'});
        var option_7815eeb0caaa44dfa54a506f9a2b7ad7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "pm2.5\u6d53\u5ea6",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "Aruba",
                    "value": null
                },
                {
                    "name": "Afghanistan",
                    "value": 65.24559168
                },
                {
                    "name": "Angola",
                    "value": 33.78724719
                },
                {
                    "name": "Albania",
                    "value": 21.27782812
                },
                {
                    "name": "Andorra",
                    "value": 12.807197500000001
                },
                {
                    "name": "Arab World",
                    "value": 53.78700138
                },
                {
                    "name": "United Arab Emirates",
                    "value": 38.98006849
                },
                {
                    "name": "Argentina",
                    "value": 16.85910062
                },
                {
                    "name": "Armenia",
                    "value": 37.53004093
                },
                {
                    "name": "American Samoa",
                    "value": 15.07272173
                },
                {
                    "name": "Antigua and Barbuda",
                    "value": 22.52887611
                },
                {
                    "name": "Australia",
                    "value": 10.6188794
                },
                {
                    "name": "Austria",
                    "value": 15.14913995
                },
                {
                    "name": "Azerbaijan",
                    "value": 23.0476012
                },
                {
                    "name": "Burundi",
                    "value": 38.38116825
                },
                {
                    "name": "Belgium",
                    "value": 16.00931923
                },
                {
                    "name": "Benin",
                    "value": 32.39296916
                },
                {
                    "name": "Burkina Faso",
                    "value": 37.49132872
                },
                {
                    "name": "Bangladesh",
                    "value": 70.76499566
                },
                {
                    "name": "Bulgaria",
                    "value": 22.75619549
                },
                {
                    "name": "Bahrain",
                    "value": 65.63088097
                },
                {
                    "name": "Bahamas, The",
                    "value": 21.1105137
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 32.30015609
                },
                {
                    "name": "Belarus",
                    "value": 23.31940958
                },
                {
                    "name": "Belize",
                    "value": 28.2730542
                },
                {
                    "name": "Bermuda",
                    "value": 14.64738151
                },
                {
                    "name": "Bolivia",
                    "value": 29.5728099
                },
                {
                    "name": "Brazil",
                    "value": 15.95528506
                },
                {
                    "name": "Barbados",
                    "value": 28.21681441
                },
                {
                    "name": "Brunei Darussalam",
                    "value": 7.417004402999999
                },
                {
                    "name": "Bhutan",
                    "value": 43.96188317
                },
                {
                    "name": "Botswana",
                    "value": 25.72472072
                },
                {
                    "name": "Central African Republic",
                    "value": 51.53331961
                },
                {
                    "name": "Canada",
                    "value": 8.384457262
                },
                {
                    "name": "Central Europe and the Baltics",
                    "value": 21.98802866
                },
                {
                    "name": "Switzerland",
                    "value": 12.92221973
                },
                {
                    "name": "Channel Islands",
                    "value": null
                },
                {
                    "name": "Chile",
                    "value": 25.89229169
                },
                {
                    "name": "China",
                    "value": 69.47957041
                },
                {
                    "name": "Cote d'Ivoire",
                    "value": 21.617704999999997
                },
                {
                    "name": "Cameroon",
                    "value": 59.29340315
                },
                {
                    "name": "Congo, Dem. Rep.",
                    "value": 41.39803933
                },
                {
                    "name": "Congo, Rep.",
                    "value": 42.00909211
                },
                {
                    "name": "Colombia",
                    "value": 21.49784542
                },
                {
                    "name": "Comoros",
                    "value": 20.66635788
                },
                {
                    "name": "Cabo Verde",
                    "value": 27.59644067
                },
                {
                    "name": "Costa Rica",
                    "value": 19.27295272
                },
                {
                    "name": "Caribbean small states",
                    "value": 22.88005336
                },
                {
                    "name": "Cuba",
                    "value": 23.93329773
                },
                {
                    "name": "Curacao",
                    "value": null
                },
                {
                    "name": "Cayman Islands",
                    "value": null
                },
                {
                    "name": "Cyprus",
                    "value": 20.08186599
                },
                {
                    "name": "Czech Republic",
                    "value": 20.67687047
                },
                {
                    "name": "Germany",
                    "value": 15.18949496
                },
                {
                    "name": "Djibouti",
                    "value": 38.24086927
                },
                {
                    "name": "Dominica",
                    "value": 23.74074619
                },
                {
                    "name": "Denmark",
                    "value": 11.92914817
                },
                {
                    "name": "Dominican Republic",
                    "value": 16.87446546
                },
                {
                    "name": "Algeria",
                    "value": 33.63582026
                },
                {
                    "name": "East Asia & Pacific (excluding high income)",
                    "value": 55.8449762
                },
                {
                    "name": "Early-demographic dividend",
                    "value": 64.28431299
                },
                {
                    "name": "East Asia & Pacific",
                    "value": 51.9120112
                },
                {
                    "name": "Europe & Central Asia (excluding high income)",
                    "value": 26.60138686
                },
                {
                    "name": "Europe & Central Asia",
                    "value": 20.58259725
                },
                {
                    "name": "Ecuador",
                    "value": 19.97918812
                },
                {
                    "name": "Egypt, Arab Rep.",
                    "value": 77.44661885
                },
                {
                    "name": "Euro area",
                    "value": 15.187417499999999
                },
                {
                    "name": "Eritrea",
                    "value": 45.227138599999996
                },
                {
                    "name": "Spain",
                    "value": 11.3493291
                },
                {
                    "name": "Estonia",
                    "value": 8.519848762999999
                },
                {
                    "name": "Ethiopia",
                    "value": 35.63414541
                },
                {
                    "name": "European Union",
                    "value": 15.97908406
                },
                {
                    "name": "Fragile and conflict affected situations",
                    "value": 41.86378149
                },
                {
                    "name": "Finland",
                    "value": 7.190331396
                },
                {
                    "name": "Fiji",
                    "value": 13.53381346
                },
                {
                    "name": "France",
                    "value": 14.84562127
                },
                {
                    "name": "Faroe Islands",
                    "value": null
                },
                {
                    "name": "Micronesia, Fed. Sts.",
                    "value": 13.749245199999999
                },
                {
                    "name": "Gabon",
                    "value": 40.27757856
                },
                {
                    "name": "United Kingdom",
                    "value": 12.29910815
                },
                {
                    "name": "Georgia",
                    "value": 26.10123773
                },
                {
                    "name": "Ghana",
                    "value": 27.36828359
                },
                {
                    "name": "Gibraltar",
                    "value": null
                },
                {
                    "name": "Guinea",
                    "value": 21.97102786
                },
                {
                    "name": "Gambia, The",
                    "value": 30.20126341
                },
                {
                    "name": "Guinea-Bissau",
                    "value": 26.83635957
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 46.18648655
                },
                {
                    "name": "Greece",
                    "value": 19.06108814
                },
                {
                    "name": "Grenada",
                    "value": 27.47290781
                },
                {
                    "name": "Greenland",
                    "value": 13.92232395
                },
                {
                    "name": "Guatemala",
                    "value": 29.98259025
                },
                {
                    "name": "Guam",
                    "value": 13.88834049
                },
                {
                    "name": "Guyana",
                    "value": 27.31186474
                },
                {
                    "name": "High income",
                    "value": 16.66933845
                },
                {
                    "name": "Hong Kong SAR, China",
                    "value": null
                },
                {
                    "name": "Honduras",
                    "value": 26.88295242
                },
                {
                    "name": "Heavily indebted poor countries (HIPC)",
                    "value": 37.19402653
                },
                {
                    "name": "Croatia",
                    "value": 21.33471864
                },
                {
                    "name": "Haiti",
                    "value": 17.7952414
                },
                {
                    "name": "Hungary",
                    "value": 19.13552438
                },
                {
                    "name": "IBRD only",
                    "value": 59.5207515
                },
                {
                    "name": "IDA & IBRD total",
                    "value": 56.72107607
                },
                {
                    "name": "IDA total",
                    "value": 47.68388105
                },
                {
                    "name": "IDA blend",
                    "value": 53.37945905
                },
                {
                    "name": "Indonesia",
                    "value": 18.16928033
                },
                {
                    "name": "IDA only",
                    "value": 44.78226826
                },
                {
                    "name": "Isle of Man",
                    "value": null
                },
                {
                    "name": "India",
                    "value": 95.75817945
                },
                {
                    "name": "Not classified",
                    "value": null
                },
                {
                    "name": "Ireland",
                    "value": 9.976375087000001
                },
                {
                    "name": "Iran, Islamic Rep.",
                    "value": 38.65150179
                },
                {
                    "name": "Iraq",
                    "value": 68.71140482
                },
                {
                    "name": "Iceland",
                    "value": 7.856536667
                },
                {
                    "name": "Israel",
                    "value": 24.01923772
                },
                {
                    "name": "Italy",
                    "value": 19.02523065
                },
                {
                    "name": "Jamaica",
                    "value": 16.09171498
                },
                {
                    "name": "Jordan",
                    "value": 33.55056636
                },
                {
                    "name": "Japan",
                    "value": 14.14233824
                },
                {
                    "name": "Kazakhstan",
                    "value": 15.91449319
                },
                {
                    "name": "Kenya",
                    "value": 28.15477084
                },
                {
                    "name": "Kyrgyz Republic",
                    "value": 27.26538617
                },
                {
                    "name": "Cambodia",
                    "value": 31.34313632
                },
                {
                    "name": "Kiribati",
                    "value": 13.17504079
                },
                {
                    "name": "St. Kitts and Nevis",
                    "value": null
                },
                {
                    "name": "Korea, Rep.",
                    "value": 29.80201
                },
                {
                    "name": "Kuwait",
                    "value": 62.74398094
                },
                {
                    "name": "Latin America & Caribbean (excluding high income)",
                    "value": 21.06784395
                },
                {
                    "name": "Lao PDR",
                    "value": 31.73199577
                },
                {
                    "name": "Lebanon",
                    "value": 30.89212513
                },
                {
                    "name": "Liberia",
                    "value": 15.24919691
                },
                {
                    "name": "Libya",
                    "value": 50.1472295
                },
                {
                    "name": "St. Lucia",
                    "value": 27.63597227
                },
                {
                    "name": "Latin America & Caribbean",
                    "value": 21.05927625
                },
                {
                    "name": "Least developed countries: UN classification",
                    "value": 46.02956375
                },
                {
                    "name": "Low income",
                    "value": 41.34219858
                },
                {
                    "name": "Liechtenstein",
                    "value": null
                },
                {
                    "name": "Sri Lanka",
                    "value": 31.03378115
                },
                {
                    "name": "Lower middle income",
                    "value": 67.27958551
                },
                {
                    "name": "Low & middle income",
                    "value": 56.9409481
                },
                {
                    "name": "Lesotho",
                    "value": 32.24059762
                },
                {
                    "name": "Late-demographic dividend",
                    "value": 52.06688101
                },
                {
                    "name": "Lithuania",
                    "value": 14.97106496
                },
                {
                    "name": "Luxembourg",
                    "value": 12.95878369
                },
                {
                    "name": "Latvia",
                    "value": 17.11506451
                },
                {
                    "name": "Macao SAR, China",
                    "value": null
                },
                {
                    "name": "St. Martin (French part)",
                    "value": null
                },
                {
                    "name": "Morocco",
                    "value": 29.6489603
                },
                {
                    "name": "Monaco",
                    "value": null
                },
                {
                    "name": "Moldova",
                    "value": 19.11610415
                },
                {
                    "name": "Madagascar",
                    "value": 22.66201053
                },
                {
                    "name": "Maldives",
                    "value": 11.30982939
                },
                {
                    "name": "Middle East & North Africa",
                    "value": 51.81085944
                },
                {
                    "name": "Mexico",
                    "value": 26.365439000000002
                },
                {
                    "name": "Marshall Islands",
                    "value": 12.94670836
                },
                {
                    "name": "Middle income",
                    "value": 58.6772891
                },
                {
                    "name": "North Macedonia",
                    "value": 34.45696977
                },
                {
                    "name": "Mali",
                    "value": 36.39765973
                },
                {
                    "name": "Malta",
                    "value": 16.4493999
                },
                {
                    "name": "Myanmar",
                    "value": 44.05611525
                },
                {
                    "name": "Middle East & North Africa (excluding high income)",
                    "value": 50.15897439
                },
                {
                    "name": "Montenegro",
                    "value": 25.055406299999998
                },
                {
                    "name": "Mongolia",
                    "value": 43.30465329
                },
                {
                    "name": "Northern Mariana Islands",
                    "value": 11.926381
                },
                {
                    "name": "Mozambique",
                    "value": 23.56146872
                },
                {
                    "name": "Mauritania",
                    "value": 39.63741338
                },
                {
                    "name": "Mauritius",
                    "value": 15.194772899999998
                },
                {
                    "name": "Malawi",
                    "value": 25.6961984
                },
                {
                    "name": "Malaysia",
                    "value": 18.59375306
                },
                {
                    "name": "North America",
                    "value": 9.263171058
                },
                {
                    "name": "Namibia",
                    "value": 27.65989633
                },
                {
                    "name": "New Caledonia",
                    "value": null
                },
                {
                    "name": "Niger",
                    "value": 69.15017669
                },
                {
                    "name": "Nigeria",
                    "value": 52.60906391
                },
                {
                    "name": "Nicaragua",
                    "value": 22.4922691
                },
                {
                    "name": "Netherlands",
                    "value": 15.23243025
                },
                {
                    "name": "Norway",
                    "value": 8.341507222999999
                },
                {
                    "name": "Nepal",
                    "value": 100.78442790000001
                },
                {
                    "name": "Nauru",
                    "value": null
                },
                {
                    "name": "New Zealand",
                    "value": 7.152865691000001
                },
                {
                    "name": "OECD members",
                    "value": 16.98741015
                },
                {
                    "name": "Oman",
                    "value": 37.51533394
                },
                {
                    "name": "Other small states",
                    "value": 32.36458663
                },
                {
                    "name": "Pakistan",
                    "value": 68.00519044
                },
                {
                    "name": "Panama",
                    "value": 14.13891846
                },
                {
                    "name": "Peru",
                    "value": 31.50257401
                },
                {
                    "name": "Philippines",
                    "value": 23.59231552
                },
                {
                    "name": "Palau",
                    "value": null
                },
                {
                    "name": "Papua New Guinea",
                    "value": 14.94135871
                },
                {
                    "name": "Poland",
                    "value": 27.17650018
                },
                {
                    "name": "Pre-demographic dividend",
                    "value": 42.33131649
                },
                {
                    "name": "Puerto Rico",
                    "value": 10.37254851
                },
                {
                    "name": "Korea, Dem. People\u2019s Rep.",
                    "value": 39.34265696
                },
                {
                    "name": "Portugal",
                    "value": 10.07688693
                },
                {
                    "name": "Paraguay",
                    "value": 15.10292317
                },
                {
                    "name": "West Bank and Gaza",
                    "value": 33.00667425
                },
                {
                    "name": "Pacific island small states",
                    "value": 13.84472898
                },
                {
                    "name": "Post-demographic dividend",
                    "value": 14.17128048
                },
                {
                    "name": "French Polynesia",
                    "value": null
                },
                {
                    "name": "Qatar",
                    "value": 84.12290235
                },
                {
                    "name": "Romania",
                    "value": 17.06214749
                },
                {
                    "name": "Russian Federation",
                    "value": 19.48031098
                },
                {
                    "name": "Rwanda",
                    "value": 41.44091192
                },
                {
                    "name": "South Asia",
                    "value": 89.16764514
                },
                {
                    "name": "Saudi Arabia",
                    "value": 81.69918208
                },
                {
                    "name": "Sudan",
                    "value": 47.26205558
                },
                {
                    "name": "Senegal",
                    "value": 34.98538395
                },
                {
                    "name": "Singapore",
                    "value": 20.60946174
                },
                {
                    "name": "Solomon Islands",
                    "value": 14.37425559
                },
                {
                    "name": "Sierra Leone",
                    "value": 18.52888841
                },
                {
                    "name": "El Salvador",
                    "value": 30.46194135
                },
                {
                    "name": "San Marino",
                    "value": null
                },
                {
                    "name": "Somalia",
                    "value": 29.00018535
                },
                {
                    "name": "Serbia",
                    "value": 29.10058899
                },
                {
                    "name": "Sub-Saharan Africa (excluding high income)",
                    "value": 38.21440377
                },
                {
                    "name": "South Sudan",
                    "value": 43.22533996
                },
                {
                    "name": "Sub-Saharan Africa",
                    "value": 38.21263496
                },
                {
                    "name": "Small states",
                    "value": 29.34714178
                },
                {
                    "name": "Sao Tome and Principe",
                    "value": 27.12662111
                },
                {
                    "name": "Suriname",
                    "value": 29.83188899
                },
                {
                    "name": "Slovak Republic",
                    "value": 21.69021974
                },
                {
                    "name": "Slovenia",
                    "value": 18.6816561
                },
                {
                    "name": "Sweden",
                    "value": 7.209759036
                },
                {
                    "name": "Eswatini",
                    "value": 18.12819268
                },
                {
                    "name": "Sint Maarten (Dutch part)",
                    "value": null
                },
                {
                    "name": "Seychelles",
                    "value": 21.09126804
                },
                {
                    "name": "Syrian Arab Republic",
                    "value": 42.65768485
                },
                {
                    "name": "Turks and Caicos Islands",
                    "value": null
                },
                {
                    "name": "Chad",
                    "value": 56.58662749
                },
                {
                    "name": "East Asia & Pacific (IDA & IBRD countries)",
                    "value": 56.05483096
                },
                {
                    "name": "Europe & Central Asia (IDA & IBRD countries)",
                    "value": 26.59969418
                },
                {
                    "name": "Togo",
                    "value": 30.52294447
                },
                {
                    "name": "Thailand",
                    "value": 31.56539944
                },
                {
                    "name": "Tajikistan",
                    "value": 50.40541765
                },
                {
                    "name": "Turkmenistan",
                    "value": 24.85182927
                },
                {
                    "name": "Latin America & the Caribbean (IDA & IBRD countries)",
                    "value": 21.07037187
                },
                {
                    "name": "Timor-Leste",
                    "value": 23.49239604
                },
                {
                    "name": "Middle East & North Africa (IDA & IBRD countries)",
                    "value": 50.35636957
                },
                {
                    "name": "Tonga",
                    "value": 13.53194839
                },
                {
                    "name": "South Asia (IDA & IBRD)",
                    "value": 89.16764514
                },
                {
                    "name": "Sub-Saharan Africa (IDA & IBRD countries)",
                    "value": 38.21263496
                },
                {
                    "name": "Trinidad and Tobago",
                    "value": 28.70418626
                },
                {
                    "name": "Tunisia",
                    "value": 35.54548859
                },
                {
                    "name": "Turkey",
                    "value": 43.82122875
                },
                {
                    "name": "Tuvalu",
                    "value": null
                },
                {
                    "name": "Tanzania",
                    "value": 28.60753269
                },
                {
                    "name": "Uganda",
                    "value": 44.75869737
                },
                {
                    "name": "Ukraine",
                    "value": 23.52265648
                },
                {
                    "name": "Upper middle income",
                    "value": 49.41776161
                },
                {
                    "name": "Uruguay",
                    "value": 11.02705557
                },
                {
                    "name": "United States",
                    "value": 9.35863641
                },
                {
                    "name": "Uzbekistan",
                    "value": 32.07745356
                },
                {
                    "name": "St. Vincent and the Grenadines",
                    "value": 26.39665862
                },
                {
                    "name": "Venezuela, RB",
                    "value": 21.68286882
                },
                {
                    "name": "British Virgin Islands",
                    "value": null
                },
                {
                    "name": "Virgin Islands (U.S.)",
                    "value": 12.75209971
                },
                {
                    "name": "Vietnam",
                    "value": 39.36539699
                },
                {
                    "name": "Vanuatu",
                    "value": 14.12951255
                },
                {
                    "name": "World",
                    "value": 50.24771686
                },
                {
                    "name": "Samoa",
                    "value": 14.28809394
                },
                {
                    "name": "Kosovo",
                    "value": null
                },
                {
                    "name": "Yemen, Rep.",
                    "value": 45.97946993
                },
                {
                    "name": "South Africa",
                    "value": 27.13858684
                },
                {
                    "name": "Zambia",
                    "value": 28.836378600000003
                },
                {
                    "name": "Zimbabwe",
                    "value": 23.231478699999997
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "pm2.5\u6d53\u5ea6"
            ],
            "selected": {
                "pm2.5\u6d53\u5ea6": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "2010-2017\u5e74\u4e16\u754c\u7a7a\u6c14\u6c61\u67d3\u7a0b\u5ea6",
            "subtextStyle": {
                "color": "red",
                "fontStyle": "italic",
                "fontSize": 10
            }
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 99.73437372,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "seriesIndex": 0,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140
    }
};
        chart_7815eeb0caaa44dfa54a506f9a2b7ad7.setOption(option_7815eeb0caaa44dfa54a506f9a2b7ad7);
    </script>
</body>
</html>
