<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="eed0964e4b064972800739420aa74c0a" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_eed0964e4b064972800739420aa74c0a = echarts.init(
            document.getElementById('eed0964e4b064972800739420aa74c0a'), 'white', {renderer: 'canvas'});
        var option_eed0964e4b064972800739420aa74c0a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e2d",
            "data": [
                69.47957041,
                70.54202883,
                63.82701684,
                65.51455022,
                59.76736751,
                59.06342246,
                52.21132204,
                52.66459583
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6fb3",
            "data": [
                10.6188794,
                11.04726492,
                10.53708999,
                9.98768389,
                9.492978752,
                9.320015289,
                8.614508923999999,
                8.550324401000001
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e2d",
                "\u6fb3"
            ],
            "selected": {
                "\u4e2d": true,
                "\u6fb3": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7a7a\u6c14\u6c61\u67d3\u7a0b\u5ea6\u4e2d\u6fb3\u5bf9\u6bd4",
            "subtext": "pm2.5\u5386\u5e74\u5bf9\u6bd4\u56fe"
        }
    ]
};
        chart_eed0964e4b064972800739420aa74c0a.setOption(option_eed0964e4b064972800739420aa74c0a);
    </script>
</body>
</html>
